/*****************************************************/
/**
 * React Native flexbox setting
 */
body, div, span {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

/*****************************************************/

/**
 * @import "../node_modules/normalize.css/normalize.css";
 */
@import "normalize.css";

/*****************************************************/

/**
 * basic style
 */
body {
  background-color: #1F1E34;
  color: #FFF;
  font-family: "Avenir Next",
      "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
      Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

p {
  font-size: 24px;
}

a {
  font-weight: 400;
  color: #FFF;
}

a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}

/*****************************************************/

.section {
  height: 100vh;
  overflow: hidden;
}

.section-one,
.section-four {
  align-items:center;
  justify-content:center;
}

.main-nav {
  display: flex;
  flex-direction: row;

  list-style: none;
  padding: 1px;
  margin: 0;
}

.main-nav li {
  margin: 10px 20px;
}

.main-nav li a {
  text-decoration: none;
}

.section-two,
.section-three {
  flex-direction: row;
}

.iphone-demo {
  /*
  background-color: rgba(255,0,0,0.3);
  */

  flex-grow: 1;
  align-self: stretch;
  flex-basis: 0;

  align-items:center;
  justify-content:center;
}

.demo-img {
  position: absolute;
  top: 91px;
  left: 24px;
}

.feature-desc {
  /*
  background-color: rgba(0,255,0,0.3);
  */

  flex-grow: 1;
  align-self: stretch;
  flex-basis: 0;

  justify-content:center;
}

.feature-desc p {
  margin-right: 100px;
}

#android-robot {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

