@import "normalize.css";

/************************************************/

body, html {
  width: 100%;
  height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

/************************************************/

* {
  position: relative;
}

body {
  background-color: #F7F8FA;
  /*background-color: #FFFFFF;*/
  /*color: #202020;*/
  color: rgba(160,160,160, 1);

  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}

/*a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
*/
/************************************************/

.site {
  flex-direction: row;
}

/* colors from: http://www.w3schools.com/colors/colors_fs595.asp */

.site__main {
  width: 70%;

  flex-direction: row;

  background-color: #006539;
}

.site__left-sidebar {
  background-color: #005139;
  flex-basis: 0;
  padding: 10px;
  position: fixed;
  width: 170px;
  height: 100vh;
}

.site__content {
  background-color: #18622d;
  flex-grow: 1;
  margin-left: 170px;
}

.products {
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  background-color: #47484a;
  width: 50%;
  height: 250px;

  margin-bottom: 20px;
}

.site__right-sidebar {
  width: 30%;
  position: fixed;
  height: 100vh;

  background-color: #53593e;
}

.site__right-sidebar .cart {
  background-color: #806947;
  flex-grow: 1;

  flex-basis: 0; /* important!!! */
  overflow: scroll;

  margin-right: 10px;
  margin-bottom: 20px;
}

.cart-itme {
  height: 150px;
  margin-bottom: 20px;
  background-color: #994680;
}

.site__right-sidebar .checkout {
  background-color: #647489;

  height: 300px;
}